<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.start.head">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CameraAlbumActivity"/>
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.BroadcastStandardActivity" />
        <activity android:name=".activity.BroadcastActivity" />

        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">

                <!-- 100为有序广播的优先级 -->
                <action android:name="com.start.head.broadcast.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 接收开机广播 -->
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.start.head.activity"
            android:grantUriPermissions="true">

            <!-- authorities与 FileProvider.getUriForFile的相同 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <!-- android.support.FILE_PROVIDER_PATHS弹出can not find declaration to go to 居然能正常运行可还行 -->
        </provider>

        <activity android:name=".activity.FragmentNewsActivity" />
        <activity android:name=".activity.FragmentTestActivity" />
        <activity android:name=".activity.NewsContentActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.ListViewTestActivity" />
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Activity supporting ACTION_VIEW is not set as BROWSABLE -->
                <data android:scheme="http" />
                <!-- 指定http就可以和浏览器一样，能够响应打开网页的Intent了          /> -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.LitePalActivity" />
        <activity android:name=".activity.SecondActivity">
            <intent-filter>
                <action android:name="com.start.head.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.start.head.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.ProviderActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.PlayAudioActivity" />
        <activity android:name=".activity.PlayVideoActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HTTPActivity"/>
        <activity android:name=".activity.ServiceTestActivity"/>
        <service android:name=".service.MyService" android:exported="true" android:enabled="true"/>
        <service android:name=".service.MyIntentService"/>
        <service android:name=".service.DownloadService" android:enabled="true" android:exported="true"/>
        <activity
            android:name=".activity.DownLoadActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>